@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.text {
  flex: 1;
  position: relative;
  letter-spacing: -0.05em;
  opacity: 0;
}
.text.animate {
  animation: 1s ease 0s 1 normal forwards fade-in-bottom;
}
.iconCamera011 {
  position: relative;
  width: 114px;
  height: 104px;
  flex-shrink: 0;
  object-fit: cover;
}
.iconCamera01,
.title {
  display: flex;
  flex-direction: row;
}
.iconCamera01 {
  border-bottom: 14px solid var(--blue-10);
  padding: 35px var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.title {
  width: 450px;
  align-items: flex-start;
  justify-content: flex-start;
}
.span {
  color: var(--blue-6);
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p1 {
  margin: 0;
}
.subtitleTxt {
  line-break: anywhere;
  width: 100%;
}
.subtitle {
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 450px;
  opacity: 0;
  color: var(--blue-10);
}
.subtitle.animate {
  animation: 1s ease 0.5s 1 normal forwards fade-in-left;
}
.text1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-be-vietnam);
  color: var(--color-white);
  text-align: center;
}
.buttonStartProducer,
.producer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonStartProducer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-3xs);
  background-color: var(--blue-6);
  flex-direction: row;
}
.buttonStartProducer:hover {
  background-color: var(--color-indigo-300);
}
.producer {
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-4xl) var(--padding-5xl);
  gap: var(--gap-2xl);
}
.iconUserProfile021 {
  position: relative;
  width: 114px;
  height: 114px;
  flex-shrink: 0;
  object-fit: cover;
}
.iconUserProfile02 {
  border-bottom: 14px solid var(--blue-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xl);
  align-items: center;
  justify-content: center;
}
.subtitle1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 150%;
  opacity: 0;
  color: var(--blue-10);
}
.subtitle1.animate {
  animation: 1s ease 0.5s 1 normal forwards fade-in-left;
}
.artist {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-4xl) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xl);
  cursor: default;
}
.popupProducerArtist {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-be-vietnam);
}
.popupProducerArtist.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
