@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.span {
  color: var(--blue-5);
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p1 {
  margin: 0;
}
.subtitle,
.title1 {
  position: relative;
  opacity: 0;
}
.title1 {
  letter-spacing: -0.08em;
  line-height: 113%;
}
.title1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in-bottom;
}
.subtitle {
  font-size: var(--font-size-xl);
}
.subtitle.animate {
  animation: 1s ease 0.5s 1 normal forwards fade-in-left;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.text {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-be-vietnam);
  color: var(--color-white);
  text-align: center;
}
.buttonStart,
.left {
  display: flex;
  justify-content: center;
}
.buttonStart {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-3xs);
  background-color: var(--blue-6);
  flex-direction: row;
  align-items: center;
}
.buttonStart:hover {
  background-color: var(--color-indigo-300);
}
.left {
  flex-direction: column;
  padding: var(--padding-2xl) 175px 0 0;
  align-items: flex-start;
  gap: 40px;
}
.coverImage1Icon {
  position: relative;
  width: 950px;
  height: 546px;
  flex-shrink: 0;
  object-fit: cover;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconDown1 {
  position: relative;
  width: 48px;
  height: 28px;
  flex-shrink: 0;
  object-fit: cover;
}
.iconDown {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-xs);
  background-color: transparent;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.iconDown.animate {
  animation: 1.5s step-end 1.5s 1 normal forwards bounce-top;
}
.cover,
.iconDown,
.main {
  display: flex;
  flex-direction: column;
}
.main {
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}
.cover {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  padding: 130px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  cursor: auto;
  text-align: left;
  font-size: 97px;
  color: var(--color-black);
  font-family: var(--font-be-vietnam);
}
